@model Self.Core.Entities.Word
@{
    ViewData["Title"] = "Word";
}
<div class="text-center m-t-30">You can add a new word, meaning of the word in the second language and an example sentence</div>

<div id="myModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <form asp-action="AddWord" asp-controller="Word" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OriginalWord">Original Word</label>
                <input asp-for="OriginalWord" id="OriginalWord" class="form-control" />
                <span asp-validation-for="OriginalWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranslatedWord">Translated Word</label>
                <input asp-for="TranslatedWord" id="TranslatedWord" class="form-control" />
                <span asp-validation-for="TranslatedWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sentence">Sample Sentence</label>
                <textarea asp-for="Sentence" id="Sentence" rows="4" maxlength="140" class="form-control"></textarea>
                <span asp-validation-for="Sentence" class="text-danger"></span>
            </div>
            <input type="hidden"  asp-for="OwnerId" value="@User.Identity.Name"/>
            <div class="form-group">
                <button type="submit" class="btn btn-light">Add</button>
            </div>
        </form>
    </div>
</div>



    @section Scripts
        {
        <script>



            var getRandomWordPostBackURL = '/Word/GetRandomWord';
            $(function () {
                $(".jump-word").click(function () {
                    $.ajax({
                        type: "GET",
                        url: getRandomWordPostBackURL,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            $('#myModalContent').html(data);
                            $('#myModal').modal('show');
                        },
                        error: function () {
                            alert("Dynamic content load failed!");
                        }

                    });
                });
            });
        </script>
    }



