
@model Self.Core.Entities.Word
@{
    ViewData["Title"] = "Word";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <form asp-action="UpdateWord" asp-controller="Word" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OriginalWord">Original Word</label>
                <input asp-for="OriginalWord" id="OriginalWord" class="form-control" />
                <span asp-validation-for="OriginalWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranslatedWord">Translated Word</label>
                <input asp-for="TranslatedWord" id="TranslatedWord" class="form-control" />
                <span asp-validation-for="TranslatedWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sentence">Sample Sentence</label>
                <textarea asp-for="Sentence" id="Sentence" rows="4" maxlength="140" class="form-control"></textarea>
                <span asp-validation-for="Sentence" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OwnerId" value="@User.Identity.Name" />
            <div class="form-group">
                <button type="submit" class="btn btn-light">Update</button>
            </div>
        </form>
    </div>
</div>